<!DOCTYPE html>
<html>

<head>
<title>Complex2-Liu &bullet; {{ .Title }}</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<link rel="apple-touch-icon" sizes="180x180" href="/img/avatar.jpg">
<link rel="icon" type="image/png" href="/img/avatar.jpg" sizes="32x32">
<link rel="icon" type="image/png" href="/img/avatar.jpg" sizes="16x16">
<link rel="shortcut icon" href="/img/avatar.jpg">
<link rel="stylesheet" href="/css/main.css">
<link href="/css/all.css" rel="stylesheet">

  <script>
  MathJax = {
    tex: {inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath:[['\\[', '\\]'], ['$$', '$$']],
    },
    svg: {fontCache: 'global'}
  };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container">

<div class="row">

<div class="col-12">
<div id="header">
<h1 id="sitetitle">
    <a href="{{ .Site.BaseURL }}">Complex2-Liu | 老爹</a>
<img height=54 src="/img/yin-yang.svg" style="vertical-align:text-bottom">
</h1>
<div id="site-subtitle">One can not turn back the hands of time.</div>
</div></div>

</div>

<div id="content" class="row">

<div class="col-12 col-md-3 order-md-2">
    <div id="side-content">
    <nav class="navbar navbar-expand-md navbar-light">
        <span class="navbar-brand"><i class="fas fa-sitemap"></i> Menu</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="collapse menu-list navbar-collapse d-md-block" id="navbarNav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ $tmp := $currentPage.Site.GetPage .URL }}
            {{ if .HasChildren }}
            {{ $IsHome := eq .Name "About" }}
            {{ if $IsHome }}
                <h5 class=>
            {{ else }}
                <h5 class="{{ if $currentPage.IsDescendant $tmp }}active{{ end }}">
            {{ end }}
                        {{ .Pre }}&nbsp;
                    <a href=" {{ .URL }}">
                        <span>{{ .Name }}</span>
                    </a>
                </h5>
                <ul class="sub-menu">
                    {{ range .Children }}
                    {{ $tmp2 := $currentPage.Site.GetPage .URL }}
                        <li><h6 class="{{ if $currentPage.IsDescendant $tmp2 }}active{{ end }}">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </h6></li>
                    {{ end }}
                </ul>
            {{ else }}
            <h5 class="{{ if $currentPage.IsDescendant $tmp }}active{{ end }}">
                        {{ .Pre }}&nbsp;
                    <a href="{{ .URL }}">
                        <span>{{ .Name }}</span>
                    </a>
                </h5>
            {{ end }}
        {{ end }}
    </div>

    <hr>

    <div align="center">
    <img height=120 src="/img/avatar.jpg" id="avatar">
    </div>
    <div id="last-modified">
    <small><i class="fas fa-user-edit"></i> Last modified: {{ now.Format "Jan 2, 15:04:05, 2006" }}.</small>
    </div>
    </div>
</div>

<div class="col-12 col-md-9 order-md-1">
    <div id="main-content">
    {{ block "main" . }}{{ end }}
    </div>
</div>

</div><!-- end row with id content -->

</div><!-- end container -->
</body>

<footer>
<div class="footer" align="center">
    <p>This website is generated by <a href="https://gohugo.io/">Hugo</a>.<br>
    <span style="font-size: small;">&copy; 2021-{{ now.Year }} <i class="fas fa-heart"></i> Complex2-老爹.</span></p>
</footer>
</html>
